@page "/"
@using Newtonsoft.Json
@using Newtonsoft.Json.Linq
@using QuillConverter
@using System.Text.Json

<PageTitle>Home</PageTitle>
<div style="display:block;">

    <MudTextEditor @ref="@quill" @bind-Value="Content" OutpuDelta="true" Label="Notes" UniqueID="first" Variant="Variant.Outlined" BottomToolbar="false" Style="max-height: 400px;" />

    <div class="ql-editor display-only" style="width: 100%;"><span>@((MarkupString)@quillHtml)</span></div>
  
</div><br />
<div>
    <MudButton  OnClick="SaveItem" >button</MudButton>
</div> 
@code {






    string quillHtml = "";

    //string? MyDate;
    //string  usDate = "";

    //IMask mask2 = new DateMask("MM/dd/yyyy");

    //[Parameter] public string Content { get; set; } = @"{""ops"":[{""attributes"":{""bold"":true},""insert"":""Header ""},{""insert"":""-""},{""attributes"":{""italic"":true},""insert"":"" (member)""},{""attributes"":{""align"":""center""},""insert"":""\n""},{""insert"":""Header 2""},{""attributes"":{""indent"":2},""insert"":""\n""},{""insert"":""test content 1""},{""attributes"":{""list"":""bullet""},""insert"":""\n""},{""insert"":""test content 2""},{""attributes"":{""indent"":1,""list"":""bullet""},""insert"":""\n""},{""insert"":""test content 3""},{""attributes"":{""indent"":1,""list"":""bullet""},""insert"":""\n""},{""insert"":""test content 4""},{""attributes"":{""indent"":2,""list"":""bullet""},""insert"":""\n""},{""insert"":""test content 5""},{""attributes"":{""indent"":2,""list"":""bullet""},""insert"":""\n""},{""insert"":""test content 6""},{""attributes"":{""indent"":1,""list"":""bullet""},""insert"":""\n""},{""insert"":""test content 7""},{""attributes"":{""list"":""bullet""},""insert"":""\n""}]}";
    [Parameter] public string Content { get; set; } = @"{""ops"":[{""insert"":""labor &amp; industry\n""}]}";


    [Parameter] public string Content2 { get; set; } = "test content 2";

    public string initialValue { get; set; } = "";
    public string textFieldValue { get; set; } = "This is the field";
    public MudTextEditor quill = new();

    protected override void OnInitialized()
    {
        initialValue = Content;

        // JObject jsonObject = JObject.Parse(Content);
        
        // var htmlConverter = new HtmlConverter((JArray)jsonObject["ops"]);
        // quillHtml = htmlConverter.Convert();

        // var s = "";
        //var htmlConverter = new HtmlConverter(Content);
        //string html = htmlConverter.Convert();
        //MudGlobal.InputDefaults.Variant = Variant.Outlined;
    }


    private async Task SaveItem()
    {

        var z = Content;

        var d1 = await quill.GetContent();
        
        JObject jsonObject = JObject.Parse(d1);
        var htmlConverter = new HtmlConverter((JArray)jsonObject["ops"]);
        quillHtml = htmlConverter.Convert();
        
        var h = await quill.GetHTML();
        
        var x = Content2;
    }
}

