@page "/"

<PageTitle>Home</PageTitle>
<div style="display:block;">

    <MudTextField T="string" Label="Test"  />
    <MudTextEditor @ref="@quill" Theme="snow" ToolbarLimited="false" Label="Notes" Variant="Variant.Outlined"  BottomToolbar="false" Style="max-height: 400px;">
        @* <ToolbarContent>

        <span class="ql-formats">
            <button class="ql-bold"></button>
            <button class="ql-italic"></button>
            <button class="ql-underline"></button>
            <button class="ql-strike"></button>
        </span>
        <span class="ql-formats">
            <select class="ql-color"></select>
            <select class="ql-background"></select>
        </span>
        <span class="ql-formats">
            <button class="ql-list" value="ordered"></button>
            <button class="ql-list" value="bullet"></button>
        </span>
        <span class="ql-formats">
            <button class="ql-indent" value="-1"></button>
            <button class="ql-indent" value="+1"></button>
            </span>
    </ToolbarContent> *@
        <EditorContent>
            <span>@((MarkupString?)Content)</span>
        </EditorContent>
    </MudTextEditor>
</div><br />
<div>
    <MudButton  OnClick="SaveItem" >button</MudButton>
</div> 
@code {

    //string? MyDate;
    //string  usDate = "";

    //IMask mask2 = new DateMask("MM/dd/yyyy");
    [Parameter] public string Content { get; set; } = "test content";

    public string initialValue { get; set; } = "";
    public string textFieldValue { get; set; } = "This is the field";
    public MudTextEditor quill = new();

    protected override void OnInitialized()
    {
        initialValue = Content;
        //MudGlobal.InputDefaults.Variant = Variant.Outlined;
    }

    private async void SaveItem()
    {
        var t = await quill.GetHTML();
    }
}

